---
import Tag from "../components/Tag.astro";
import { formatDate } from "../scripts/utils/formatDate";

const { articleEntry } = Astro.props;
const { title, description, tags, publishDate } = articleEntry.data;
---

<li
  class="col-span-full grid grid-cols-subgrid w-full border-t xl:first:*:pt-0 xl:first:pt-10 first:pt-24 last:border-b pt-10 pb-4 hover:text-pink transition-all duration-300 ease-linear"
>
  <article
    class="col-span-full md:grid md:grid-cols-subgrid place-items-baseline"
  >
    <!-- Left Col -->
    <div class="flex flex-col col-span-3 mb-8 xl:col-start-3 xl:mb-0">
      <p
        class="col-start-1 mb-4 text-lg text-dark-pink whitespace-break-spaces"
      >
        {formatDate(publishDate)}
      </p>
      <ul
        class="flex flex-wrap gap-3 p-0 m-0 text-base lowercase list-none"
        id="tags"
      >
        {tags.map((tag: string) => <Tag content={tag} />)}
      </ul>
    </div>
    <!-- Right Col -->
    <a class="col-span-5">
      <!-- href={`/articles/${articleEntry.slug}/`} -->
      <h3 class="mb-4 text-2xl font-semibold">{title}</h3>
      <p class="mb-8 text-lg font-medium leading-relaxed">
        {description}
      </p>
      <!-- <Button link={`/article/${articleEntry.slug}/`} text="Перейти к статье" /> -->
    </a>
  </article>
</li>
