---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import Tag from "../components/Tag.astro";

const { projectEntry } = Astro.props;
const { title, coverImage, tags } = projectEntry.data;

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*.{jpeg,jpg,png,gif}"
);
if (!images[coverImage.src])
  throw new Error(
    `"${coverImage}" does not exist in glob: "/src/assets/*.{jpeg,jpg,png,gif}"`
  );
---

<li class="swiper-slide group flex flex-col mb-4 lg:mb-0">
  <a href={`/project/${projectEntry.slug}/`} class="block">
    <picture
      class="relative block w-full h-auto mb-6 rounded-md overflow-hidden cursor-[url(/cursor.svg),_pointer]"
    >
      <div
        class="absolute z-[100] w-full h-full bg-dark-blue"
        data-image-placeholder
      >
      </div>
      <Image
        src={images[coverImage.src]()}
        alt={coverImage.alt}
        format="webp"
        quality="mid"
        loading="eager"
        decoding="async"
        class="object-cover aspect-[3/4] rounded-md scale-100 group-hover:scale-[1.15] transition-transform duration-200 ease-custom z-50"
        data-img
      />
    </picture>
    <h2 class="mb-4 text-2xl font-semibold capitalize leading-6">
      {title}
    </h2>
  </a>
  <ul class="flex flex-wrap gap-3 text-xs sm:text-base lowercase mb-2">
    {tags.map((tag) => <Tag content={tag} />)}
  </ul>
</li>
