---
import Tag from "./Tag.astro";

interface Props {
  title: string;
  price: string;
  description?: string;
  link?: string;
  services: Array<string>;
}

const { title, price, description, link, services } = Astro.props;
---

<li class="flex flex-col row-span-1 border rounded-lg border-pink">
  <a
    href={link}
    target="_blank"
    rel="noreferrer noopener"
    class="group cursor-[url(/cursor.svg),_pointer] px-5 pt-6 pb-7"
  >
    <div class="flex justify-between mb-10 text-xl leading-6 md:text-2xl">
      <h3 class="font-semibold">{title}</h3>
      <h4
        class="transition-colors duration-300 ease-in-out text-dark-pink group-hover:text-pink whitespace-nowrap"
      >
        {`${price} ₽/блок`}
      </h4>
    </div>
    <p class="mb-20 text-lg font-medium leading-relaxed prose prose-pink grow">
      {description}
    </p>
    <ul class="flex flex-wrap gap-4 lowercase">
      {services.map((service) => <Tag content={service} />)}
    </ul>
  </a>
</li>
