---
import type { GetStaticPaths } from "astro";
// Constants
import { SITE_TITLE } from "../../../consts";
type PostProps = CollectionEntry<"blog">;

// Content
import { getCollection, type CollectionEntry } from "astro:content";

// Functions
import FormatDate from "@utils/FormatDate";

// Components
import Layout from "@layouts/Layout.astro";
import PostLink from "@components/PostLink";
import AnimatedLayout from "@layouts/AnimatedLayout";
import Pagination from "@components/Pagination.astro";
import i18n from "i18next";
// Get all posts
const pLocale = "az";
console.log("BLOG:", pLocale);

const posts = await getCollection("blog");
const isProd = import.meta.env.PROD;

const localizedPosts = posts.filter((p) => p.id.startsWith(`${pLocale}/`));
const filteredPosts = localizedPosts
  .filter((p) => p.id.startsWith(`${pLocale}/`))
  .filter(({ data }: CollectionEntry<"blog">) =>
    isProd ? !data.isDraft : true
  )
  .sort((a: CollectionEntry<"blog">, b: CollectionEntry<"blog">) => {
    const getDate = (post: CollectionEntry<"blog">) =>
      post.data.updatedDate?.valueOf?.() ?? post.data.pubDate.valueOf();
    return getDate(b) - getDate(a);
  });

filteredPosts.map((p) => {
  console.log(p.id);
});
---

<Layout
  title={`Блог / ${SITE_TITLE}`}
  description="Блог о веб-дизайне и фронтэнд-разработке: статьи, советы и лучшие практики по UX/UI, адаптивному дизайну, HTML, CSS, JavaScript и SEO. Всё, что нужно для создания эффективных сайтов!"
>
  <!-- <BlogLayout posts={posts} client:only="react" /> -->
  <AnimatedLayout client:only="react">
    <div
      class="flex justify-between items-center mb-8 md:mb-16 lg:px-24 px-8 text-5xl lg:text-9xl"
    >
      <h1 class="whitespace-nowrap">{i18n.t("blog.title")}</h1>
    </div>
    <ul>
      {
        filteredPosts.map((post) => (
          <PostLink
            id={post.id}
            title={post.data.title}
            category={post.data.category}
            date={
              post.data.updatedDate
                ? FormatDate(post.data.updatedDate, "az")
                : FormatDate(post.data.pubDate, "az")
            }
            image={post.data.heroImage}
            client:only="react"
          />
        ))
      }
    </ul>
  </AnimatedLayout>
</Layout>
