---
import BaseLayout from "./BaseLayout.astro";
import Tag from "../components/Tag.astro";

import { SITE_TITLE } from "../variables";
import { formatDate } from "../scripts/utils/formatDate";

const { frontmatter } = Astro.props;

const { title, description, tags, publishDate } = frontmatter;
---

<BaseLayout title=`${title} / ${SITE_TITLE}`>
  <div id="preloader" class="absolute inset-0 z-50 w-100 h-dvh bg-dark-blue">
  </div>
  <!-- Scroll Progress Indicator -->
  <div
    class="fixed inset-0 z-50 w-full h-0.5 mb-2 origin-left bg-dark-pink"
    id="scroll-progress"
  >
  </div>
  <section
    class="grid gap-5 col-span-full grid-cols-subgrid place-items-center"
  >
    <!-- Hero Section -->
    <section
      id="hero"
      class="grid mt-24 mb-8 md:col-span-4 xl:col-start-4 grid-cols-subgrid"
    >
      <small class="mb-4 text-base text-dark-pink"
        >{formatDate(publishDate)}</small
      >
      <h1 class="mb-8 text-4xl font-semibold col-span-full">{title}</h1>
      <ul
        class="flex flex-wrap gap-3 p-0 m-0 mb-16 text-base lowercase list-none col-span-full"
        id="tags"
      >
        {tags.map((tag: string) => <Tag content={tag} />)}
      </ul>
      <p
        class="prose prose-pink text-lg prose-img:rounded-md max-w-none [&>*:has(img)]:mt-10 [&>p:has(img)>img]:my-0 gap-7 md:prose-headings:mb-0 md:prose-p:my-0 col-span-full font-medium"
      >
        {description}
      </p>
    </section>
    <!-- Markdown Section -->
    <section
      id="content"
      class="prose prose-pink text-lg prose-img:rounded-md mb-12 max-w-none [&>*:has(img)]:mt-10 [&>p:has(img)>img]:my-0 gap-7 md:prose-headings:mb-0 md:prose-p:my-0"
    >
      <slot />
    </section>
  </section>
</BaseLayout>

<style is:global>
  #content {
    @apply col-span-full md:grid md:grid-cols-subgrid gap-7;
  }

  #content > p:has(img):first-of-type {
    @apply order-1 col-span-full mb-10;
  }

  #content > p:has(img):first-of-type img {
    @apply w-full h-auto object-cover aspect-[16/9] max-h-[540px];
  }

  #content > h2:first-of-type {
    @apply lg:mt-0;
  }

  #content > *:not(nav):not(p:has(img):first-of-type) {
    @apply order-2 xl:col-start-4 md:col-span-4 md:pr-7;
  }

  .toc {
    @apply order-3 lg:col-start-8 md:col-start-5 col-span-2 row-start-2 row-span-3 md:sticky top-48 left-0 h-fit border-l border-dark-pink/50;
  }

  .toc ol {
    list-style-type: none;
    @apply my-0;
  }

  .toc ol.toc-level-1 {
    @apply pl-5;
  }

  .toc ol:not(.toc-level-1),
  .toc-item {
    @apply pl-0;
  }

  .toc-item a {
    @apply no-underline;
  }
</style>

<script src="../scripts/animateOtherPages.js"></script>
<script>
  import { scroll, animate } from "motion";

  const headings = document?.querySelectorAll("h2, h3, h4");
  // console.log(tocLinks);
  headings.forEach((heading) => {
    let tocEl = document?.querySelectorAll(`a[href='#${heading.id}']`);
    console.log(tocEl);
    scroll(
      animate(
        tocEl,
        {
          color: ["#fe8084", "#B16476"],
        },
        {
          easing: [0.42, 0, 0.58, 1],
        }
      ),
      {
        target: heading,
      }
    );
  });
</script>
