---
// Constants
import { SITE_TITLE } from "../consts";
const { frontmatter } = Astro.props;

// Components
import Layout from "./Layout.astro";
import ScrollableText from "../components/ScrollableText";
import MarkdownComponent from "../components/Markdown/MarkdownComponent";
import AnimatedLayout from "./AnimatedLayout";
---

<Layout
  title={`${frontmatter.title} / ${SITE_TITLE}`}
  description={frontmatter.description}
>
  <AnimatedLayout client:only="react">
    <div class="">
      <ScrollableText
        heading={frontmatter.title}
        subheading={frontmatter.description}
        client:only="react"
      />
      <MarkdownComponent
        isFullWidth={frontmatter.isFullWidth}
        client:only="react"
      >
        <slot />
      </MarkdownComponent>
    </div>
  </AnimatedLayout>
</Layout>
