---
// Constants
import { SITE_TITLE } from "../consts";
const { frontmatter } = Astro.props;

// Components
import Layout from "./Layout.astro";
import ProjectPhrase from "../components/_ProjectPhrase";
import MarkdownComponent from "../components/MarkdownComponent";
import AnimatedLayout from "./AnimatedLayout";
---

<Layout
  title={`${frontmatter.title} / ${SITE_TITLE}`}
  description={frontmatter.meta}
>
  <AnimatedLayout client:only="react">
    <div class="lg:py-24">
      <ProjectPhrase
        title={frontmatter.title}
        description={frontmatter.description}
        client:only="react"
      />
      <MarkdownComponent
        isFullWidth={frontmatter.isFullWidth}
        client:only="react"
      >
        <slot />
      </MarkdownComponent>
    </div>
  </AnimatedLayout>
</Layout>
