---
// Styles
import "../styles/_syntaxHighlight.css";
import "../styles/_callouts.css";

import { Image } from "astro:assets";

// Components
import Layout from "./Layout.astro";
// import CategoriesList from "../components/Post/CategoriesList.astro";
import TableOfContents from "../components/Post/TableOfContents.astro";

// Functions
import FormatDate from "../utils/FormatDate";
import AnimatedLayout from "./AnimatedLayout";

const { title, description, heroImage, pubDate, updatedDate, headings } =
  Astro.props;
---

<Layout title={title} description={description}>
  <AnimatedLayout client:only="react">
    <section class="lg:mb-24 mb-10">
      <div class="lg:px-24 px-8 lg:mb-16 mb-10">
        <a
          href="/blog/"
          class="no-underline font-normal flex mb-8 opacity-80 w-fit text-lg"
          >← Назад к блогу</a
        >
        <h1 class="text-[clamp(2rem,0.8rem+6vw,8rem)] leading-none">
          {title}
        </h1>
      </div>
      <Image
        src={heroImage}
        alt={title}
        format="webp"
        width="1920"
        height="1080"
        class="w-full h-auto"
      />
    </section>
    <section class="flex flex-col gap-16 px-8 lg:px-24 items-center">
      <!-- <div class="">
        <TableOfContents headings={headings} />
      </div> -->
      <div
        class="prose prose-neutral prose-invert prose-xl prose-medium prose-headings:font-medium prose-headings:text-pretty prose-strong:font-medium prose-blockquote:not-italic prose-blockquote:[quotes:none] prose-code:after:content-none prose-code:before:content-none prose-img:rounded-lg prose-img:w-full prose-table:block prose-table:overflow-x-auto max-w-[48ch]"
      >
        <slot />
      </div>
      <!-- <ul class="list-none m-0 p-0 flex flex-col gap-2 text-neutral-400">
        <li class="p-0 m-0">
          <p class="p-0 m-0">Опубликовано: {FormatDate(pubDate)}</p>
        </li>
        {
          updatedDate ? (
            <li class="p-0 m-0">
              <p class="p-0 m-0">Обновлено: {FormatDate(updatedDate)}</p>
            </li>
          ) : (
            ""
          )
        }
      </ul> -->
    </section>
  </AnimatedLayout>
</Layout>
