---
// Styles
import "../styles/_syntaxHighlight.css";

import { Image } from "astro:assets";

// Components
import Layout from "./Layout.astro";
import CategoriesList from "../components/_CategoriesList.astro";
// import MotionContainer from "../components/_MotionContainer";
import TableOfContents from "../components/_TableOfContents.astro";
// import Sidebar from "../components/Sidebar.astro";
// import SmoothScroll from "../components/_SmoothScroll";

// Functions
import FormatDate from "../utils/FormatDate";

const { title, description, heroImage, pubDate, headingDepth, headings } =
  Astro.props;
---

<Layout title={title} description={description}>
  <!-- <SmoothScroll client:only="react"> -->
  <section class="lg:pt-24 lg:mb-24 mb-10">
    <div class="lg:px-24 px-8 lg:mb-16 mb-10">
      <a
        href="/blog/"
        class="no-underline font-normal flex mb-8 opacity-80 w-fit text-lg"
        >← Назад к блогу</a
      >
      <h1 class="text-[clamp(2rem,0.8rem+6vw,8rem)] leading-none">
        {title}
      </h1>
    </div>
    <Image
      src={heroImage}
      alt={title}
      format="webp"
      width="1920"
      height="1080"
      class="w-full h-auto"
    />
  </section>
  <section
    class="relative flex flex-col xl:grid xl:grid-cols-[minmax(auto,20%),1fr,minmax(auto,20%)] xl:px-24 px-8 lg:gap-16 gap-10"
  >
    <aside class="xl:sticky xl:top-32 max-w-auto h-fit lg:order-1 order-3">
      <CategoriesList />
    </aside>
    <div
      class="order-2 col-start-2 prose prose-neutral prose-invert prose-xl prose-medium prose-headings:font-medium prose-headings:text-pretty prose-strong:font-medium prose-blockquote:not-italic prose-blockquote:[quotes:none] prose-code:after:content-none prose-code:before:content-none prose-img:rounded-lg max-w-none"
    >
      <slot />
      <p class="pt-12">Опубликовано: {FormatDate(pubDate)}</p>
    </div>
    <aside
      class="xl:sticky xl:top-32 max-w-auto h-fit lg:pl-6 lg:order-3 order-1"
    >
    <details open="true">
      <summary class="lg:text-xl text-2xl font-medium mb-4">
        Оглавление
      </summary>
      <TableOfContents headings={headings} />
    </details>
      
      
    </aside>
  </section>
  <!-- </SmoothScroll> -->
</Layout>
