---
// Styles
import "../styles/_syntaxHighlight.css";
import "../styles/_callouts.css";

import i18n from "i18next";
import { Image } from "astro:assets";

// Components
import Layout from "./Layout.astro";
// import CategoriesList from "../components/Post/CategoriesList.astro";
// import TableOfContents from "../components/Post/TableOfContents.astro";
import TableOfContents from "../components/Post/TableOfContents.jsx";

// Functions
import FormatDate from "../utils/FormatDate";
import AnimatedLayout from "./AnimatedLayout";
import type { HeadingProps } from "../types";
const {
  title,
  description,
  heroImage,
  pubDate,
  updatedDate,
  headings,
  locale,
} = Astro.props;

const filteredHeadings = headings.filter(
  (heading: HeadingProps) => heading.depth < 3
);
---

<Layout title={title} description={description} locale={locale}>
  <AnimatedLayout client:only="react">
    <section class="lg:mb-24 mb-10">
      <div class="lg:px-24 px-8 lg:mb-16 mb-10">
        <a
          href="/blog/"
          class="no-underline font-normal flex mb-8 opacity-80 w-fit text-lg"
          >← Назад к блогу</a
        >
        <h1 class="text-[clamp(2rem,0.8rem+6vw,8rem)] leading-none text-pretty">
          {title}
        </h1>
      </div>
      <Image
        src={heroImage}
        alt={title}
        format="webp"
        width="1920"
        height="1080"
        class="w-full h-auto"
      />
    </section>
    <section
      class="relative flex flex-col md:gap-24 gap-8 px-8 lg:px-24 items-start max-w-full lg:grid grid-cols-[minmax(auto,19%)_1fr_minmax(auto,19%)] justify-center"
    >
      <div class="order-2 md:order-none lg:sticky top-32 left-0">
        <!-- <TableOfContents headings={headings} /> -->
        <TableOfContents headings={filteredHeadings} client:only="react" />
      </div>
      <div
        class="order-3 md:order-none prose prose-neutral prose-invert prose-xl prose-medium prose-headings:font-medium prose-headings:text-pretty prose-strong:font-medium prose-blockquote:not-italic prose-blockquote:[quotes:none] prose-code:after:content-none prose-code:before:content-none prose-img:rounded-lg prose-img:w-full prose-table:block prose-table:overflow-x-auto max-w-none w-full"
      >
        <slot />
      </div>

      <ul
        class="order-1 md:order-none list-none m-0 p-0 flex flex-col gap-2 text-neutral-400 text-xl md:text-base"
      >
        <li class="p-0 m-0">
          <p class="p-0 m-0">
            {i18n.t("blog.published")}: {FormatDate(pubDate, i18n.language)}
          </p>
        </li>
        {
          updatedDate ? (
            <li class="p-0 m-0">
              <p class="p-0 m-0">
                {i18n.t("blog.updated")}:{" "}
                {FormatDate(updatedDate, i18n.language)}
              </p>
            </li>
          ) : (
            ""
          )
        }
      </ul>
    </section>
  </AnimatedLayout>
</Layout>
ß
