---
import BaseLayout from "../layouts/BaseLayout.astro";
import Tag from "../components/Tag.astro";

import { formatDate } from "../scripts/utils/formatDate";
import { SITE_TITLE } from "../variables";

const { frontmatter } = Astro.props;
const { title, tags, stack, amountOfWork, duration, publishDate } = frontmatter;
---

<BaseLayout title=`${title} / ${SITE_TITLE}`>
  <div id="preloader" class="absolute inset-0 z-50 w-100 h-dvh bg-dark-blue">
  </div>
  <!-- Scroll Progress Indicator -->
  <div
    class="fixed inset-0 z-50 w-full h-0.5 mb-2 origin-left bg-dark-pink"
    id="scroll-progress"
  >
  </div>
  <!-- Hero Section -->
  <section id="hero" class="grid mt-24 mb-8 col-span-full grid-cols-subgrid">
    <h1 class="mb-8 text-4xl font-semibold col-span-full splt">{title}</h1>
    <ul
      class="grid gap-8 mb-10 md:gap-20 col-span-full md:grid-cols-subgrid"
      id="stats"
    >
      {
        [
          ["Инструменты", `${stack}`],
          ["Объем работы", `${amountOfWork}`],
          ["Сроки выполнения", `${duration}`],
          ["Дата публикации", `${formatDate(publishDate)}`],
        ].map(([heading, content]) => (
          <li class="col-span-2">
            <h2 class="mb-1 text-xl font-bold">{heading}</h2>
            <p class="text-lg font-medium leading-normal">{content}</p>
          </li>
        ))
      }
    </ul>
    <ul
      class="flex flex-wrap gap-3 p-0 m-0 mb-4 text-base lowercase list-none col-span-full"
      id="tags"
    >
      {tags.map((tag: string) => <Tag content={tag} />)}
    </ul>
  </section>
  <!-- Markdown Section -->
  <section
    id="content"
    class="col-span-full grid md:grid-cols-subgrid prose prose-pink text-lg prose-img:rounded-md mb-12 max-w-none [&>*:has(img)]:col-span-full [&>*:has(img)]:mt-10 [&>p:has(img)>img]:my-0 gap-7 md:[&>*:not(:has(img))]:col-span-4 xl:[&>*:not(:has(img))]:col-start-4 md:[&>*:not(:has(img))]:col-start-2 prose-headings:mt-12 prose-headings:mb-0 prose-p:my-0"
  >
    <slot />
  </section>
</BaseLayout>

<script src="../scripts/animateProjectPage.js"></script>
