---
import BaseLayout from "../layouts/BaseLayout.astro";
import Tag from "../components/Tag.astro";

import { formatDate } from "../scripts/utils";

const { frontmatter } = Astro.props;
const { title, tags, stack, amountOfWork, duration, publishDate } = frontmatter;
---

<BaseLayout title=`${title} / srkdesign.dev` type="article">
  <!-- <div id="preloader" class="absolute inset-0 z-50 w-100 h-dvh bg-dark-blue">
  </div> -->
  <!-- Scroll Progress Indicator -->
  <div
    class="fixed inset-0 z-50 w-full h-0.5 mb-2 origin-left bg-dark-pink"
    id="scroll-progress"
  >
  </div>
  <!-- Hero Section -->
  <section id="hero" class="grid mt-24 mb-8 col-span-full grid-cols-subgrid">
    <h1 class="mb-8 text-4xl font-semibold col-span-full splt">{title}</h1>
    <ul class="grid gap-10 mb-10 col-span-full grid-cols-subgrid" id="stats">
      {
        [
          ["Инструменты", `${stack}`],
          ["Объем работы", `${amountOfWork}`],
          ["Сроки выполнения", `${duration}`],
          ["Дата публикации", `${formatDate(publishDate)}`],
        ].map(([heading, content]) => (
          <li class="col-span-2">
            <h2 class="mb-1 text-lg font-bold">{heading}</h2>
            <p class="leading-normal">{content}</p>
          </li>
        ))
      }
    </ul>
    <ul
      class="flex flex-wrap gap-3 p-0 m-0 mb-4 text-base lowercase list-none col-span-full"
      id="tags"
    >
      {tags.map((tag: any) => <Tag content={tag} />)}
    </ul>
  </section>
  <!-- Markdown Section -->
  <section
    id="content"
    class="grid grid-cols-subgrid col-span-full place-items-center prose prose-pink text-lg leading-relaxed prose-p:font-medium prose-img:rounded-md prose-img:mb-0 prose-headings:pt-4 prose-p:mb-2"
  >
    <slot />
  </section>
</BaseLayout>

<script src="../scripts/animateProjectPage.js"></script>
